<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <bean id="car" class="com.fastcampus.ch3.Car" >
        <property name="engine" ref="engine" />
        <property name="doors">
            <array>
                <ref bean="door" />
                <ref bean="door" />
                <ref bean="door" />
                <ref bean="door" />
            </array>
        </property>
        <property name="color" value="red" />
        <property name="oil" value="100"/>
    </bean>
    <bean id="engine" class="com.fastcampus.ch3.Engine" />
    <bean id="door" class="com.fastcampus.ch3.Door" />
</beans>
